[submodule "Centurion/vendor/spdlog"]
	path = Centurion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Centurion/vendor/GLFW"]
	path = Centurion/vendor/GLFW
	url = https://github.com/TheCherno/glfw
